force-app/wow/wmf_order/flows/WOO_get_Case_s_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Reset_Status_0</name>
        <label>Reset Status</label>
        <locationX>434</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.WOO_SAP_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WOO_Order_at_Simulat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WOO_get_Account_0</name>
        <label>get Account</label>
        <locationX>588</locationX>
        <locationY>1583</locationY>
        <assignmentItems>
            <assignToReference>$Record.WOO_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.WOO_Account_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cutted_account_city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.WOO_Account_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cutted_account_postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.WOO_Account_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cutted_account_srteet</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Bypass_Flow</name>
        <label>Bypass Flow</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Is_SAP_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no Bypass</defaultConnectorLabel>
        <rules>
            <name>Bypass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_Workflows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Bypass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_SAP_Order</name>
        <label>Is SAP Order?</label>
        <locationX>445</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Old_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SAP Order</defaultConnectorLabel>
        <rules>
            <name>Free_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SAP_Orders</stringValue>
                </rightValue>
            </conditions>
            <label>Free Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_simulated</name>
        <label>Order simulated</label>
        <locationX>566</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>WOO_Order_at_Simulat</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Simulated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WOO_SAP_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simulated with errors</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WOO_SAP_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simulated OK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Status_0</targetReference>
            </connector>
            <label>Simulated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Variable_Changed</name>
        <label>Variable Changed</label>
        <locationX>720</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>WOO_Order_at_Simulat</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WOO_CPD_client_code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Old_record.WOO_CPD_client_code__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WOO_Commercial_organization__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Old_record.WOO_Commercial_organization__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WOO_Requested_delivery_date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Old_record.WOO_Requested_delivery_date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_simulated</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>WOO_Order_at_Simulat</name>
        <label>Order at Simulated Ok</label>
        <locationX>720</locationX>
        <locationY>1223</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WOO_SAP_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simulated OK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Get the account and the account&apos;s address when simulated OK and reset status from simulated to draft if a changment is made on order</description>
    <formulas>
        <name>Cutted_account_city</name>
        <dataType>String</dataType>
        <expression>LEFT({!get_Account.PersonMailingCity},35)</expression>
    </formulas>
    <formulas>
        <name>Cutted_account_postalCode</name>
        <dataType>String</dataType>
        <expression>LEFT({!get_Account.PersonMailingPostalCode},10)</expression>
    </formulas>
    <formulas>
        <name>Cutted_account_srteet</name>
        <dataType>String</dataType>
        <expression>LEFT({!get_Account.PersonMailingStreet},35)</expression>
    </formulas>
    <interviewLabel>get Case&apos;s Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Case&apos;s Account and reset SAP Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Account</name>
        <label>get Account</label>
        <locationX>588</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WOO_get_Account_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Case.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Case</name>
        <label>get Case</label>
        <locationX>588</locationX>
        <locationY>1343</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WOO_Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Old_record</name>
        <label>Old record</label>
        <locationX>720</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Variable_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WOO_WMF_Orders__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_Flow</targetReference>
        </connector>
        <object>WOO_WMF_Orders__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>get_Account.Id</elementReference>
        </value>
    </variables>
</Flow>
